<div class="card bg-light my-4" style="width: 100;">
	<div class="card-header h2">
		<h2>Allergènes existants</h2>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th scope="col">Nom</th>
					{# <th scope="col">Slug</th> #}
					<th scope="col">Description</th>
					<th scope="col">Ordre</th>
					{% if currentAllergen.name == null %}
						<th></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for allergen in allergens %}
                    {% if currentAllergen.name != null and allergen.slug == currentAllergen.slug %}
                        {% set rowClass = 'table-info' %}
                    {% else %}
                        {% set rowClass = '' %}
                    {% endif %}
                    
					<tr>
						<th scope="row">{{ allergen.name }}</th>
						<td>{{ allergen.description|slice(0, 60) }}</td>
						<td>{{ allergen.sort }}</td>
                        {% if currentAllergen.name == null %}
                            <td>
                                <a href={{ path('admin_allergen_edit', {slug: allergen.slug} ) }} class="btn btn-info">Modifier</a>
                                <a href={{ path('admin_allergen_delete', {slug: allergen.slug} ) }} class="btn btn-primary">Supprimer</a>
                            </td>
                        {% endif %}
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>

